body{
    background-color: #f8f8f8;
}
.container{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

.menu{
    font-family: "Times New Roman", serif, Verdana;
    font-weight: bolder;
    font-size: 25px;
    background-color: gainsboro;
    float: right;
}
.menu a{
    color: gold;
    text-decoration: none;
}
.menu a:hover{
    color:#ffffff;
}

.menu ul{
    list-style-type: none;
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    position: relative;

}
.menu li{
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid blue; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
    background: cadetblue;
}
.header{
    background: url('items/images/bgheader.jpg');
    height: 100px;
    color: blue;
    font-family: "Times New Roman", serif, Verdana;
    font-weight: bolder;
    font-size: 25px;
}

 .header img{
     width: 100px;
     height: 100px;
     position: relative;
     left: 0px;
     float: left;

 }
 .header p{
     position: relative;
     float: left;

 }
 .content {
     background-color: #E1E0E1;
     height: 100%;
 }
.hocontent{
    background-color: #E1E0E1;
    height: 400px;
}
 hr{
     display: block;
     position: relative;
     margin-top: 5px;
     margin-bottom: 5px;
     clear: both;
 }
h1,
h2{
    color:#000000;
    font-size: 18px;
    font-weight:400;
    background-color:#eaeaea;
}
.imitem{
    float: left;
    margin-right: 20px;
}
.desription{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.desription button{
    font: 20px bold Arial sans-serif;
    width: 100px;
    height: 50px;
    background: gold;
    padding: 2px;
    float: right;
    position: relative;
    right: 50px;
    top: 10px;
}
.desription button:hover{
    background: khaki;
}
.desription button:active{
    background: blue;
    color: white;
}
.techdes{
    width: 100%;
    clear: both;
}
.mdis {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.item{
    color: #454355;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    list-style-image: url(items/images/batton.png);
}
.iitem{
    width: 250px;
    height: 300px;
    border: 1px solid blue;
}
.iitem:hover{
    border: 0px;
    padding: 1px;
}
.catitem{
    float: left;
    margin-right: 25px;
    width: 250px;
    height: 380px;

}
.catitem img{
    width: 250px;
    height: 290px;
}

.catitem:nth-child(3n){
    margin-right: 0px;
}

input{
    display: block;
    width: 200px;
    height: 30px;
    border-color: blue;
    color: #000000;
    font: bold 14px Arial sans-serif;
    text-align: left;
    text-transform: capitalize;
}
input email:focus{
    background: beige;
    color: blue;
}
form button{
    width: 206px;
    height: 50px;
    margin-top: 10px;
    font-size: 25px;
}
form button:hover{
    background: beige;
}

textarea{
    width: 200px;
    height: 30px;
    border-color: blue;
    color: #000000;
    font: bold 14px Arial sans-serif;
    text-align: left;
}
address{
    display: block;
    margin: 10px;
    font: bold 18px Arial sans-serif;
    width: 200px;
    height: 100%;
}

p:first-letter{
    color: blue;
    font-size: 30px;
    font-weight: 500;
    font-family:Arial, sans-serif;
    font-style: italic;
}
table {
    width:500px;
    background: #eaeaea;
    border-collapse: collapse;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
thead{
    background: burlywood;
}

td{
    border-style: solid;
    border-width: 2px;
    text-align: center;
}
th{
    border-style: solid;
    border-width: 2px;
    height: 100px;
    clear: both;
}
caption{
    color: blue;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}
.footer{
    background-color: #905BAE;
    height: 100px;
    clear: both;
}
.footer p{
    position: relative;
    top: 15%;
    right: 1%;
    float: right;
}
